.search_container {
  position: relative;
  background: var(--color-purple-light);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  /* top: 0px; */
}
.search_nav {
  background-color: var(--color-purple);
  padding: 2.2rem 11.4rem;
  display: flex;
  justify-content: space-between;
}
.search_nav h1:hover {
  cursor: pointer;
  color: var(--color-black-light);
}

.justified {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.search_contents {
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin: 5rem 11.4rem 0 11.4rem;
  /* background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/search.png"),
    linear-gradient(
      180deg,
      rgba(56, 34, 50, 0.65) 54.17%,
      rgba(56, 34, 50, 0.26) 100%
    );
  background-blend-mode: overlay;
  background-size: cover; */
}
.numberContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(145, 87, 134, 0.6) 0%,
    rgba(145, 87, 134, 0.3) 100%
  );
  backdrop-filter: blur(2.4rem);
  border-radius: 2rem 2rem 0 0;
}
.labelContainer {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 30rem;
  border-radius: 0 0 2rem 2rem;
  background: var(--color-purple);
  backdrop-filter: blur(0.4rem);
}

@media only screen and (max-width: 520px) {
  .labelContainer {
    width: 25rem;
  }
}
@media only screen and (max-width: 380px) {
  .labelContainer {
    width: 20rem;
  }
  .counter_value {
    font-size: 7rem !important;
  }
}

.counter_column,
.counter_value,
.counter_name {
  text-align: center;
  color: var(--color-white);
  /* font-weight: bold; */
  padding: 2rem;
}

.counter_column {
  font-size: 10rem;
}
.counter_value {
  font-size: 10rem;
  font-weight: 900;
  padding-bottom: 0;
}
.counter_name {
  font-size: 4rem;
}
.counter_all {
  /* margin: 0rem 3.3rem; */
  /* display: flex; */
  align-items: center;
  margin: 2.5rem;
}

@media only screen and (max-width: 520px) {
  .counter_all {
    margin: 1.5rem;
  }
}

.counter_container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.search_bar {
  position: relative;
  width: 70rem;
  height: 8rem;
  color: var(--color-black-light);
  font-size: 2.1rem;
  font-weight: 700;
  padding-left: 5.7rem;
  border: 0.5rem solid var(--color-purple);
  border-radius: 1rem;
}

.search_group {
  position: relative;
}

.input-group-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.search_group::before {
  position: absolute;
  content: "";
  border-radius: 1rem;
  border: 0.3rem solid var(--color-white);
  width: 102%;
  height: 100%;
  background-color: var(--color-purple);
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 900px) {
  /* .search_bar {
    margin-bottom: 2rem;
  } */
}
.search_button {
  border: none;
  width: 15rem;
  height: 6rem;
  background: var(--color-purple);
  border-radius: 1rem;
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--color-white);
}
.searched svg {
  display: none;
}

.searched::before {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  content: " Search";
  top: -0.8rem;
  border-radius: 1rem;
  border: 0.3rem solid #915786;
  left: 0.8rem;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;

  background-color: var(--color-white);
}
.searched {
  z-index: 1;
  border: 0.3rem solid var(--color-white);
  position: relative;
  background-color: #915786;
  height: 10rem;
  border-radius: 1rem;
  width: 24.5rem;
  margin: 0 auto;
  transition: all 1s ease-in-out;
}
.searched:hover {
  cursor: pointer;
}

.searched:active {
  cursor: pointer;
  transform: scale(1);
}

.navbar {
  background-color: var(--color-purple);
}

.navbar-light .navbar-brand {
  font-size: 2.5rem;
  color: var(--color-white) !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 2.5rem;
  margin: 0 2rem;
  color: var(--color-white) !important;
}

.navbar-toggler-icon {
  width: 20px !important;
  height: 20px !important;
  padding: 15px !important;
  background-color: var(--color-white) !important;
}
.dropdown-item.active,
.dropdown-item {
  font-size: 2.5rem;
  text-decoration: none;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--color-purple) !important;
}

.searchImage {
  min-width: 160rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 1s ease-in-out;
}

/* Animation */
/* For hover around handing page */

/* .search_contents:hover {
  transform: translateY(-5rem);
} */
.search_container:hover .searchImage {
  top: -80%;
}
.search_container:hover .searched {
  transform: translateY(-5rem);
  width: 60%;

  background-color: var(--color-purple);
}
.search_container:hover .searched::before {
  width: 20rem;
  border: 0.3rem solid var(--color-purple);
  left: 100%;
  top: 0;
  transform: translateX(-100%);
}
.search_container:hover .search_bar {
  border: 0.3rem solid var(--color-purple);
  top: 0;
}

.search_bar::selection .search_container {
  background-color: rgb(0, 0, 0);
}

.search_group input:active .searchImage {
  background-color: red;
}
